{% extends 'base.html.twig' %}

{% block title %}Nouveau mot de passe{% endblock %}

{% block body %}
<div class="container">
    <h1>Nouveau mot de passe</h1>

    {% for message in app.flashes('success') %}
        <div class="alert alert-success">{{ message }}</div>
    {% endfor %}

    {% for message in app.flashes('error') %}
        <div class="alert alert-danger">{{ message }}</div>
    {% endfor %}

    <form method="post">
        <div class="form-group">
            <label>Nouveau mot de passe</label>
            <input type="password" name="password" class="form-control" required>
        </div>

        <button class="btn btn-success mt-3" type="submit">Changer le mot de passe</button>
    </form>
</div>
{% endblock %}
