{% extends 'base.html.twig' %}

{% block title %}Accueil - Site de Rencontre
{% endblock %}

{% block body %}
	<div class="text-center mt-5">
		<h1>Bienvenue sur notre site de rencontre !</h1>
		<p class="lead">Trouvez votre âme sœur en quelques clics.</p>
		<a href="#" class="btn btn-primary btn-lg">Commencez maintenant</a>
	</div>
{% endblock %}

