/* ====== CONTENEUR PRINCIPAL ====== */
.container {
    display: flex;
    padding: 20px;
    max-width: 1200px;
    margin: auto;
}

/* ====== SLIDE (FILTRE) À GAUCHE ====== */
.sort-container {
    width: 300px;
    background: linear-gradient(135deg, #2a2a2a, #1b1b1b);
    padding: 20px;
    border-radius: 10px;
    margin-right: 20px;
    box-shadow: 0 0 15px rgba(217, 7, 255, 0.4);
    position: sticky;
    top: 20px;
}

.sort-header h3 {
    display: flex;
    color: #d4af37;
    font-size: 24px;
    margin-bottom: 20px;
    justify-content: center;
}

.sort-form {
    display: flex;
    gap: 10px;
    align-items: center;
    flex-direction: column;
}

.sort-form button {
    background: #8e44ad;
    border: 2px solid #d4af37;
    padding: 10px;
    color: #fff;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
}

.sort-form button:hover {
    background: #7a2b8c;
    transform: scale(1.05);
}

.sort-container label {
    font-weight: bold;
    color: #d4af37;
}

.sort-content {
    display: contents;
}

/* ====== LISTE DES PROFILS À DROITE (VERTICALE) ====== */
.profile-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: flex-start;
    width: 100%;
    max-height: 85vh;
    overflow-y: auto;
}

.profile-card {
    margin-top: 25px;
    display: flex;
    width: 95%;
    padding: 15px;
    border-radius: 12px;
    background: linear-gradient(359deg, #2a2a2a, #121212);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
    transition: all 0.3s ease-in-out;
    margin-bottom: 20px;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.profile-card:hover {
    transform: scale(1.02);
    box-shadow: 0 0 25px rgba(217, 7, 255, 0.4);
}

.avatar-container img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid #8e44ad;
}

.info-container {
    flex: 1;
    padding: 15px;
    color: #e0e0e0;
}

.info-container h2 {
    color: #d4af37;
}

.photo-gallery {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
}

.photo-gallery img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border: 2px solid #8e44ad;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.2s;
}

.photo-gallery img:hover {
    transform: scale(1.1);
}
/* ====== CAROUSEL MODAL ====== */
.modal-content {
    background: #121212;
    border: 3px solid #8e44ad;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(217, 7, 255, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.carousel-inner {
    align-items: center;
    justify-content: center;
}

.carousel-item img {
    max-width: 100%;
    max-height: 80vh;
    object-fit: contain;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: #d4af37;
}