.container {
    padding: 20px;
}

.profile-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.profile-card {
    display: flex;
    align-items: center;
    background: linear-gradient(to right, #dcdcdc, #fff8dc, #ffffff);
    border: 1px solid #ccc;
    border-radius: 10px;
    height: 200px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.avatar {
    width: 200px;
    height: 200px;
    flex-shrink: 0;
    overflow: hidden;
    border-radius: 10px;
}

.avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile-details {
    flex-grow: 1;
    padding: 0 15px;
    max-width: 30%;
    padding-bottom: 100px;
}



.profile-link {
    font-size: 22pt;
    text-decoration: none;
    color: red;
}

.profile-details h2 {
    font-size: 20px;
        margin: 21px 0px 13px;
        color: #333;
}

.profile-details p {
    margin: 4px 0;
    color: #555;
    font-size: 14px;
}

.profile-biography {
    flex-grow: 1;
    max-width: 30%;
    padding: 10px;
}

.profile-biography p {
    font-size: 14px;
    color: #444;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-height: 20px;
    margin: 0;
}

.profile-actions {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    margin-left: auto;
    padding-right: 10px;
}

.btn-message img {
    width: 40px;
    height: 40px;
}

.btn-like img {
    width: 40px;
    cursor: pointer;
    
}

.btn-like:hover {
    transform: scale(1.2);
}

.sort-container {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #aaa;
    border-radius: 8px;
    background-color: #f5f5f5;
}

.sort-container.hidden {
    display: none;
}

.toggle-sort-btn {
    margin-bottom: 20px;
    padding: 8px 12px;
    background-color: #ccc;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}