body {
    background-color: #121212;
    color: #ffffff;
    font-family: 'Segoe UI', sans-serif;
}

.register-container {
    background-color: #1e1e1e;
    padding: 2rem;
    border-radius: 1rem;
    max-width: 600px;
    margin: auto;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
}

h1 {
    color: #ffffff;
}

a {
    color: #bb86fc;
    text-decoration: underline;
}

a:hover {
    color: #d3b6ff;
}

.form-group {
    margin-bottom: 1.5rem;
}

label {
    color: #ffffff;
    margin-bottom: 0.5rem;
    display: block;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    background-color: #2c2c2c;
    border: 1px solid #444;
    color: #fff;
    border-radius: 0.5rem;
    padding: 0.6rem 1rem;
    width: 100%;
}

input[type="checkbox"] {
    justify-content: center;
}

.cgu{
    display: flex;
}

input:focus {
    outline: none;
    border-color: #bb86fc;
    background-color: #333;
}

.btn-primary {
    background-color: #6f42c1;
    border-color: #6f42c1;
    padding: 0.6rem 2rem;
    border-radius: 2rem;
}

.btn-primary:hover {
    background-color: #5930a5;
    border-color: #5930a5;
}

.modal-content {
    background-color: #ffffff;
    color: #000000;
    border-radius: 1rem;
    padding: 1rem;
}

.modal-header,
.modal-footer {
    border: none;
}