# config/services.yaml

parameters:
    avatars_directory: '%kernel.project_dir%/public/uploads/avatars'
    photos_directory: '%kernel.project_dir%/public/uploads/photos'
    stripe_secret_key: '%env(STRIPE_SECRET_KEY)%'
    stripe_public_key: '%env(STRIPE_PUBLIC_KEY)%'

services:
    _defaults:
        autowire: true
        autoconfigure: true

    App\:
        resource: '../src/'
        exclude:
            - '../src/DependencyInjection/'
            - '../src/Entity/'
            - '../src/Kernel.php'

    # Si tu as un service UserProfileService, sinon supprime cette ligne :
    App\Service\UserProfileService: ~
