{% extends 'base.html.twig' %}

{% block title %}Conversations supprimées
{% endblock %}

{% block body %}
	<h1>Conversations Supprimées</h1>

	<table border="1" cellpadding="10">
		<thead>
			<tr>
				<th>ID</th>
				<th>Utilisateur</th>
				<th>Supprimé avec</th>
				<th>Date de suppression</th>
			</tr>
		</thead>
		<tbody>
			{% for conversation in deletedConversations %}
				<tr>
					<td>{{ conversation.id }}</td>
					<td>{{ conversation.user.email }}</td>
					<td>{{ conversation.deletedWith.email }}</td>
					<td>{{ conversation.deletedAt|date('d/m/Y H:i') }}</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="4">Aucune conversation supprimée.</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}

